@using WebApplication.Models
<div class="jumbotron">
    <h1>Zitat des Tages</h1>
    <p class="lead">"@Quote.quoteOfTheDay.QuoteText" -@Quote.quoteOfTheDay.Author</p>
</div>
<div class="row" style="align-items:stretch">
    @{
        List<Quote> quotes = ViewBag.Message;
        foreach (var quote in quotes)
        {
            <div class="col-md-4">
                <h2>"@quote.QuoteText"</h2>
                <p>
                   -@quote.Author
                </p>
            </div>
        }
    }
</div>
